@font-face {
  font-family: "Brandon-Bold";
  src: url("../Brandon_bld.otf") format("opentype");
}

@font-face {
  font-family: "Brandon-Med";
  src: url("../Brandon_med.otf") format("opentype");
}

@font-face {
  font-family: "Brandon-Light";
  src: url("../Brandon_light.otf") format("opentype");
}

@font-face {
  font-family: "Savoy-Regular";
  src: url("../Savoy_Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Savoy-Bold";
  src: url("../Savoy_Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Xtreem-Thin";
  src: url("../XtreemThin.ttf") format("truetype");
}

h1 {
  font-family: "Savoy-Regular", serif;
  font-size: 70px;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  font-weight: 500;
}

h2 {
  font-family: "Savoy-Regular", serif;
  font-size: 47px;
  color: #1f1f24;
  text-align: center;
  font-weight: 200;
}

h3 {
  font-family: "Brandon-Bold", sans-serif;
  font-size: 25px;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: white;
}

h4 {
  font-family: "Brandon-Med", sans-serif;
  font-size: 28px;
  letter-spacing: 2.2px;
  color: #a67d72;
  text-align: center;
  text-transform: uppercase;
  line-height: 47px;
  font-weight: 600;
}

h5 {
  font-family: "Xtreem-Thin", script;
  font-size: 75px;
  color: white;
  font-weight: 100;
}

h6 {
  font-family: "Brandon-Bold", sans-serif;
  font-weight: 300;
  text-decoration: none;
  color: white;
  font-size: 15px;
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

p {
  font-family: "Brandon-Light", serif;
  font-size: 20px;
}

body {
  padding: 20px 20px 0 20px;
}

/* header */

header {
  background-color: #bcb2b2;
  margin-bottom: 20px;
}

header img {
  height: auto;
  width: auto;
  max-width: 175px;
  max-height: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  margin-bottom: 170px;
}

header h1 {
  margin-bottom: 60px;
}

header button {
  margin-bottom: 60px;
}

button {
  background-color: #1f1f24;
  color: white;
  font-family: "Brandon-Bold" sans-serif;
  font-size: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 50px;
  width: 275px;
  border: none;
}

header h6 a {
  position: fixed;
  right: 50px;
  top: 45px;
}

.call-to-action {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
}

.compliment-section {
  height: 100px;
  background-color: #dad1d2;
  /* margin-top: -20px; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.compliment-section h5 {
  margin-bottom: 20px;
}

.compliment-box {
  border-bottom: 2px solid white;
  width: 275px;
  display: flex;
  justify-content: center;
  height: 20px;
  align-items: center;
  margin: 0 12px;
}

.image-section {
  margin-bottom: 20px;
}

/* button a {
  text-decoration: none;
} */

/* next section */

.carrieanne-image {
  background: url("/images/empoweredwoman-carrieanne.png");
  background-size: cover;
  height: 500px;
  width: 100%;
}

.carrieanne-image img {
  padding-top: 20px;
  width: 100vw;
}

.text-section {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-section h2 {
  margin-bottom: 30px;
}

.greyblock-section {
  background-color: #f2f2f2;
  height: 900px;
  margin-bottom: 120px;
}

.greyblock-section img {
  height: auto;
  width: auto;
  max-width: 150px;
  max-height: 150px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
}

.greyblock-section hr {
  border: none;
  color: #bcb2b2;
  line-height: 1px;
}

.love-notes-section {
  margin-bottom: 20px;
}

.love-notes-section img {
  height: auto;
  width: auto;
  max-height: 160px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.lovenote-images-section {
  background: blue;
  height: 300px;
}

.love-notes-section {
  display: flex;
  flex-direction: column;
}

.love-notes-section h5 {
  font-family: "Savoy-Light";
  font-size: 30px;
  color: black;
}

.love-notes-section .copy button {
  margin-bottom: 100px;
}

.love-notes-section .copy {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.love-notes-section .copy .top {
  max-width: 800px;
  line-height: 2em;
  margin-bottom: 20px;
}

.love-notes-section .copy .bottom {
  margin-bottom: 40px;
}

.love-notes-section .copy * {
  margin-bottom: 10px;
}

footer {
  font-family: "Brandon-Light", sans-serif;
  text-align: center;
  color: white;
  background: #bcb2b2;
}

footer h1 {
  font-family: "Savoy-Bold", serif;
  text-transform: uppercase;
  margin-bottom: 40px;
}

footer p {
  margin-bottom: 40px;
}
footer .links {
  padding: 5px;
  background-color: #dad1d2;
}

.footer-top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}

.footer-top img {
  width: 175px;
  margin-bottom: 60px;
}

.footer-bottom {
  height: 300px;
}

footer button {
  margin-bottom: 80px;
}

.sponsors {
  margin-bottom: 80px;
}
